.storybook-icons-container > div {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 14px;
}
.storybook-icons-container > input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}
.storybook-icon-block {
  margin: 10px;
}
.storybook-icon {
  font-weight: 700;
  border: 2px solid #656565;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  width: 180px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
